<div class="profile">
    <div class="photo-icon"></div>
    <div class="profile-text">
        <a class="profil-link" href="/src/pages/profile.hbs">
            <span>My profile</span>
        </a>
    </div>
</div>