<link rel="stylesheet" href="/src/components/log-signin-button/button.css">
<body>
  <div class="flex-container">
    <div class="login-header-container">
      <span class="login-header-text">Hey you,</span>
      <span class="login-header-text">great to see you again!</span>
    </div>

    <div class="inputs-container">
      {{> login-signin-input-container}}
      {{> login-signin-input-container}}
    </div>

    {{> login-signin-button}}

    <div class="underline">
      <span class="underline-text">Don’t have account? </span>
      <a class="underline-link" href="">Get started!</a>
    </div>

  </div>
</body>

