<div id="change-pht" class="edit-photo-modal">
    <span class="edit-photo-box-name">Download photo</span>


    <div class="add-photo-link">
        <span>Choose file</span>
    </div>


    {{> "save-button/save-button" button-text="Change"}}
    <a class="closemodal-add-photo" href="#!">Close</a>
</div>

