<div class="edit-user-links" id="edit-user-links">

    {{> "close-modal-x/close-modal-x"}}

    {{> "links-in-modal/links-in-modal" id-of-next-block="add-user-info" link-text="Add user"}}
    {{> "links-in-modal/links-in-modal" id-of-next-block="remove-user-info" link-text="Remove user"}}


</div>