.edit-user-links{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 110px;
    border-radius: 36px;
    background-color: white;
    border: solid 3px #7696A0;
    position: absolute;
    top: 90px;
    left: 1000px
}

.chat-attach-links{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 110px;
    border-radius: 36px;
    background-color: white;
    border: solid 3px #7696A0;
    position: absolute;
    top: 600px;
    left: 200px
}


.edit-user-links:not(:target):not([open]), .chat-attach-links:not(:target):not([open]) { 
    display: none; 
}


.user-link:first-child{
    margin-top: 25px;
}
.user-link:last-child{
    margin-top: 12px;
    margin-bottom: 25px;
}