<div class="chat-wrapper">
    <div class="photo-icon"></div>
    <div class="chat-info">
        <span class="chat-user-name">{{user-name}}</span>
        <span class="messege">{{messege-text}}</span>
    </div>
    <div class="new-messages-icon">{{new-messeges}}</div>
</div>