
body{
    background-color: #F2FCFF;
}

.flex-container{
    margin: 0 auto;
    margin-top: 135px;
    margin-bottom: 14px;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 340px;
    border-radius: 36px;
}

.emptyspace{
    height: 20px;
    display: block;
}

// login header 
.login-header-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 51px;
    font-size: 20px;

    .login-header-text{
        text-align: center;
        font-weight: bolder;
    }
}


.sign-header-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 21px;
    font-size: 20px;

    span{
        text-align: center;
        font-weight: bolder;
    }
}


// underline 
.underline{
    display: block;
    text-align: center;
    font-size: 16px;
}
.underline-text{
    color: #797979;
}
.underline-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}