<link rel="stylesheet" href="/src/styles/style.css">

<body>
    <div class="wrapper-row">

        {{> "back-button/back-button" link="/src/pages/profile.hbs"}}

            <div class="inputs-container">

                {{> "profile-inputs/profile-inputs" parameter="Old password"}}
                {{> "profile-inputs/profile-inputs" parameter="New password"}}
                {{> "profile-inputs/profile-inputs" parameter="Re-type new password"}}

                {{> "save-button/save-button"}}
        </div>

        <div class="profile-settings">
            {{> "profile-main-date/profile-main-date"}}
        </div>

    </div>
</body>