<link rel="stylesheet" href="/src/styles/style.css">
<body>
    <div class="wrapper-column">
        {{> "errors/error" errorNum="500" errorDescription="We've already been fixing"}}
        {{> "errors/link-to-chats"}}
    </div>

</body>