
<link rel="stylesheet" href="/src/styles/style.css">
<body>
    <div class="wrapper-column">
        {{> "errors/error" errorNum="404" errorDescription="Not found"}}
        {{> "errors/link-to-chats"}}
    </div>

</body>