<link rel="stylesheet" href="/src/styles/style.css">
<link rel="stylesheet" href="/src/partials/links-in-modal/links-in-modal.css">
<body>
    <div class="wrapper-row">

    <div class="chat-folders">
        {{> "chats-profile-link/chats-profile-link"}}
        {{> "search-chat/search-chat"}}

        <div class="chats-wrapper">
            {{> "chat-wrapper/chat-wrapper" user-name="Мари" messege-text="Привет! Как дела?" new-messeges="1"}}
            {{> "chat-wrapper/chat-wrapper" user-name="Егор" messege-text="Ок" new-messeges="2"}}

        </div>
    </div>

    <div class="choosen-chat">
        {{> "user-profile/user-profile"}}
        <div class="horizontal-line"></div>
        <div class="messeges"></div>
        <div class="attaches-and-input-wrapper">
            {{> "chat-label-attach/chat-label-attach"}}
            {{> "messege-input/messege-input"}}
        </div>
    </div>

    {{> "links-boxes/edit-user-links"}}
    {{> "add-user/add-user"}}
    {{> "remove-user/remove-user"}}

    {{> "chat-modal-attach-links/chat-modal-attach-links"}}

    

    </div>
</body>

    