<link rel="stylesheet" href="/src/styles/style.css">

<body>
  <div class="wrapper-column">
    <div class="flex-container">
      <div class="sign-header-container">
        <span class="sign-header-text">Let’s get started!</span>
      </div>

      <div class="log-signin-inputs-container">
        {{> "signin-inputs/login-signin-input-container" parameter="Email"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Login"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Name"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Surname"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Phone"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Password"}}
        {{> "signin-inputs/login-signin-input-container" parameter="Re-type password"}}

      </div>

        {{> "signin-button/signin-button" button-name="Sign in" class-name="signin-button"}}
      
        <div class="emptyspace"></div>
    </div>

      {{> "links/link-to-sign-or-log-in/signin-login-link" text="Already have account? " link-text="Log in!" link="./login.hbs"}}

    
</div>

