<link rel="stylesheet" href="/src/styles/signin/signin.css">
<body>
  <div class="flex-container">
    <div class="login-header-container">
      <span class="login-header-text">Hey you,</span>
      <span class="login-header-text">great to see you again!</span>
    </div>

    <div class="inputs-container">
      {{> "signin-inputs/login-signin-input-container"}}
      {{> "signin-inputs/login-signin-input-container"}}
    </div>

    {{> "signin-button/login-signin-button"}}

  </div>
      <div class="underline">
      <span class="underline-text">Don’t have account? </span>
      <a class="underline-link" href="">Get started!</a>
    </div>