

<div class="chat-attach-links" id="chat-attach-links">

    {{> "close-modal-x/close-modal-x"}}

    {{> "links-in-modal/links-in-modal" id-of-next-block="" link-text="Photo or video"}} <!-- указываем id на который ведет ссылка -->
    {{> "links-in-modal/links-in-modal" id-of-next-block="" link-text="File"}}
    {{> "links-in-modal/links-in-modal" id-of-next-block="" link-text="Location"}}

</div>