<div class="user-profile">
    <span class="profile-user-name">Мари</span>
    <div class="photo-icon"></div>

    <button id="user-btn"></button>
    <label class="user-profile-settings" for="user-btn">
        <div class="round"></div>
        <div class="round"></div>
        <div class="round"></div>
    </label>
</div>