<div id="add-user-info" class="edit-user-box add-user-box">
    <span class="edit-user-box-name">Add user</span>

    <div class="input-field-edit-user-wrapper">
        {{> "signin-inputs/login-signin-input-container" parameter="Login"}}
    </div>

    {{> "save-button/save-button" button-text="Add"}}
    <a class="closemodal-edit-user" href="#!">Close</a>
</div>
