//button

.loginOrSignin-button{
    width: 130px;
    height: 47px;
    background-color: #B5B1B1;
    border-radius: 10px;
    border: solid 2px #C9C9C9;
    margin: 0 auto;
    margin-bottom: 58px;
}
.loginOrSignin-button-text{
    color: white;
    font-size: 20px;
}