<div id="remove-user-info" class="remove-user-box edit-user-box">
    <span class="edit-user-box-name">Remove user</span>

    <div class="input-field-edit-user-wrapper">
        {{> "signin-inputs/login-signin-input-container" parameter="Login"}}
    </div>

    {{> "save-button/save-button" button-text="Remove"}}
    <a class="closemodal-edit-user" href="#!">Close</a>
</div>

